*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background and font styles */
body {
  /* Another nice background color is #1a2b34 */
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style the header and navigation */
header {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  clear: both;
}

.columns-container {
  display: flex;
  flex-grow: 1;
  /* To switch to a centered, more modern format, add these three lines below. Delete to go back to a wider but more static format */
  width: 100%;
  max-width: 80ch;
  margin: 2rem auto;
  margin-top: 0rem;
  flex-wrap: wrap;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  /* Add other styles for your navbar */
}

header h1 {
  font-size: calc(10px + 1vw);
  color: #333333;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  white-space: nowrap;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav li:hover {
  background-color: #a51c30;
}

nav a {
  color: #808080;
  text-decoration: none;
  font-size: calc(10px + 0.65vw);
  white-space: nowrap;
  padding: 0.8rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

nav a:hover {
  color: white;
}

/* add this to force and give more space between right column and edge
section {
	padding-right: 40px;
}
*/

.contact-links ul {
  list-style: none;
  text-align: left;
  font-size: 14px;
}

.contact-links a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding-right: 25px;
}

.contact-links a:hover {
  color: #a51c30;
}

li.email {
  background-image: url("images/mail.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
}

li.linkedin {
  background-image: url("images/linkedin.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
}

li.twitter {
  background-image: url("images/twitter.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
}

.left-column {
  border: 0px solid #ccc;
  padding: 1.5em;
  text-align: justify;
  list-style-position: inside;
  flex: 1 1 33.3333%;
}

.right-column {
  border: 0px solid #ccc;
  padding: 1.5em;
  text-align: justify;
  list-style-position: inside;
  flex: 1 1 66.6666%;
}

.left-column img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: -13px;
}

.left-column .profile-text {
  font-size: 14px;
  text-align: left;
}

/* Style the footer */
footer {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: #999999;
  position: relative;
  clear: both;
}

footer p {
  margin-bottom: 0;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.contact-links-mobile {
  display: none;
}

.follow-btn {
  position: relative;
}

.follow-btn button {
  background-color: #a51c30;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.follow-btn button:hover {
  background-color: #a51c30;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-menu a:hover {
  background-color: #808080;
  color: #f9f9f9;
}

.dropdown-menu img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

.dropdown-menu {
  text-align: left;
}

.follow-btn:hover .dropdown-menu {
  display: block;
}

/* MEDIA QUERIES */



@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: none;
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-items li {
    text-align: center;
  }

  .nav-items a {
    padding: 0.5rem 1rem;
  }

  .nav-items.active {
    display: flex;
  }
  
  .columns-container {
    display: flex;
    flex-direction: column; /* Add this line */
    width: 100%;
    max-width: 75ch;
    margin: 2rem auto;
    margin-top: 0rem;
    flex-wrap: wrap;
  }

  .right-column {
    width: 100%;
    margin: 0;
    margin-left: 0;
  }

  .left-column {
    display: flex;
    flex: 0;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%;
    height: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .left-column .profile-text {
    font-size: 12px;
  }

  .left-column .profile-pic-wrapper {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
  }

  .left-column .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    padding-bottom: 0px;
  }

  .left-column > * {
    margin-right: 10px;
  }

  .left-column p {
    flex-grow: 1;
    margin-right: 20px;
  }

  .contact-links {
    display: none;
  }

  .contact-links-mobile {
    display: block;
    margin-left: auto;
  }
}

/* Very large screens */
@media (min-width: 1600px) {
  .columns-container {
    margin-left: auto; /* Adjust margin-left as needed */
    margin-right: auto; /* Adjust margin-right as needed */
    max-width: 75%;
  }
  
  .left-column {
    border: 0px solid #ccc;
    padding: 1.5em;
    text-align: justify;
    list-style-position: inside;
    flex: 1 1 23%;
  }
  
  .right-column {
    border: 0px solid #ccc;
    padding: 1.5em;
    text-align: justify;
    list-style-position: inside;
    flex: 1 1 77%;
    font-size: calc(1.2 * 16px); /* Increase font size by a factor, e.g., 1.2 for 20% larger */
  }
  
    /* Set a fixed width and height for the profile image in the left column */
  .left-column .profile-pic {
    width: 220.883px; /* Set the width explicitly */
    height: 306.317px; /* Set the height explicitly */
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
  }
  
  
}
